.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  z-index: 99;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  min-width: 282px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 22px;
  margin: 0;
}

.popup__close {
  background-image: url(../../images/Close-Icon.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s ease;
}

.popup__close:hover {
  opacity: 60%;
}

.popup__status-image {
  display: block;
  width: 120px;
  height: 120px;
  padding: 26px 0 32px 0;
}

.popup__status-title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding-bottom: 23px;
}

@media screen and (min-width: 1280px) {
  .popup__container {
    min-width: 430px;
  }

  .popup__content {
    padding: 34px 36px 37px;
  }

  .popup__close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}

@media screen and (max-width: 920px) {
  .popup__status-title {
    max-width: 670px;
  }
}

@media screen and (max-width: 720px) {
  .popup__status-title {
    max-width: 260px;
    font-size: 20px;
    line-height: 24px;
  }
}
