.auth {
  margin: 0 auto;
  width: 396px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.auth__form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 217px 253px 217px;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  justify-items: center;
}

.auth__heading {
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

.auth__logo {
  min-width: 38px;
  min-height: 38px;
  background: url('../../images/logo-min.svg') no-repeat center left;
}

.auth__title {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.auth__form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.auth__input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.auth__input-name {
  margin: 0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--caption-color);
}

.auth__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--border);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 10px;
}

.auth__input:focus {
  border-bottom: 1px solid var(--bg-blue);
  font-weight: 500;
}

.auth__input-error {
  min-height: 16px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--error-color);
}

.auth__button-wrapper {
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__button {
  width: 396px;
  height: 45px;
  border: none;
  border-radius: 3px;
  padding: 0;
  background-color: var(--bg-blue);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--inverted-primary-color);
}

.auth__caption {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--caption-color);
}

.auth__link {
  text-decoration: none;
  color: var(--link-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  .auth__form {
    grid-template-rows: auto 356px auto;
  }
  .auth__heading {
    padding-top: 10px;
    justify-content: flex-end;
  }
  .auth__form-inputs {
    padding-top: 40px;
  }
  .auth__button-wrapper {
    padding-top: 20px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .auth {
    width: 260px;
  }
  .auth__button {
    width: 260px;
    font-size: 12px;
  }
  .auth__heading {
    justify-content: center;
    align-items: center;
    padding-top: 13px;
  }
  .auth__title {
    padding-top: 50px;
  }
  .auth__form-inputs {
    padding-top: 38px;
  }
  .auth__button-wrapper {
    justify-content: flex-end;
    padding-bottom: 20px;
  }
  .auth__caption {
    font-size: 12px;
  }
  .auth__link {
    font-size: 12px;
  }
}
