.header {
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_auth {
  justify-content: flex-start;
}

.header__logo {
  min-width: 38px;
  min-height: 38px;
  background: url('../../images/logo-min.svg') center center no-repeat;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }
}
