.footer {
  padding: 56px 70px 20px;
}
.footer__caption {
  margin: 0;
  padding-bottom: 20px;
  color: var(--caption-color);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid var(--border);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer__copyright {
  margin: 0;
  font-size: 13px;
  color: var(--primary-color);
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 56px 30px 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 36px 10px 20px;
  }
  .footer__caption {
    font-size: 12px;
    padding-bottom: 22px;
  }
  .footer__wrapper {
    padding-top: 27px;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .footer__list {
    flex-direction: column;
    gap: 9px;
  }
  .footer__link {
    font-size: 12px;
  }
  .footer__copyright {
    color: var(--caption-color);
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.6px;
  }
}
