.me {
  padding: 110px 70px 100px;
}

.me__article {
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
}

.me__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.me__name {
  margin: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.me__job {
  margin: 0;
  padding: 18px 0 26px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}

.me__info {
  margin: 0;
  padding-bottom: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.me__link {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--primary-color);
}

.me__photo {
  width: 270px;
  height: 327px;
}

@media screen and (max-width: 1024px) {
  .me {
    padding: 90px 50px;
  }

  .me__name {
    font-size: 40px;
    line-height: 40px; /* 100% */
    letter-spacing: -1.6px;
  }

  .me__job {
    font-size: 12px;
    line-height: 18px; /* 150% */
    padding: 18px 0 19px;
  }

  .me__info {
    max-width: 364px;
    font-size: 12px;
    line-height: 18px; /* 150% */
    padding-bottom: 86px;
  }

  .me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .me__article {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 60px;
    gap: 38px;
  }

  .me {
    padding: 74px 14px 70px;
  }

  .me__photo {
    width: 292px;
    height: 352px;
  }

  .me__name {
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .me__job {
    font-size: 11px;
    line-height: 16px; /* 145.455% */
  }

  .me__info {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px; /* 145.455% */
    padding-bottom: 41px;
  }
}
